.navigation-menu {
	background-color: black;
	display: 'flex';
	flex-direction: 'row';
	width: 100%;
	box-shadow: 20px 22px 16px 0 rgba(0, 0, 0, 0.19), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 50px;
	animation-name: ghostBounce;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	position: relative;
}

@keyframes ghostBounce {
	0% {
		top: 0px;
	}
	50% {
		top: 30px;
	}
	100% {
		top: 0px;
	}
}
