.work-experience {
	font-family: "Varela Round";
	/* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
	/* font-family: "EB Garamond"; */
	/* margin-left: 1rem; */
	/* line-height: 20%; */
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 10px;
	/* list-style-type: circle; */
}

.experience-meta {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 15%;
	margin: 5px;
}

.experience-description {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 75%;
	margin: 5px;
	font-weight: 100;
	font-size: 1.2em;
	padding-left: 10px;
}

.meta-position {
	font-weight: bold;
	font-size: 1.2em;
	/* color: rgb(6, 158, 145); */
	color: rgb(32, 107, 103);
	margin: 0;
}

.meta-company-name {
	font-weight: bold;
}

[class*='date'] {
	color: grey;
	margin: 0;
}

/* .meta-location {
	color: bla;
} */

/* [class^="meta-"] {
	margin-top: 0;
} */
