.work-experience {
	font-family: "Varela Round";
	/* font-family: "EB Garamond"; */
	/* margin-left: 1rem; */
	/* line-height: 20%; */
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 10px;
	/* list-style-type: circle; */
}

.experience-meta {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 30%;
	margin: 5px;
}

.experience-description {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 65%;
	margin: 5px;
}

.meta-position {
	font-weight: bold;
	font-size: 1.2em;
	color: purple;
}

[class*='date'] {
	color: grey;
}

/* .meta-location {
	color: bla;
} */

[class^="meta-"] {
	margin: 0;
}
